<%- include('header') %>
  <!-- partial -->

  <style>
    .content-wrapper {
      width: 100%;
      height: 100%;
      background-image: url('https://images.pexels.com/photos/7864385/pexels-photo-7864385.jpeg?auto=compress&cs=tinysrgb&w=1600');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .content-wrapper::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(25, 28, 36, 0.316);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .card {
      background-color: transparent;
      background-color: rgba(30, 31, 38, 0.7);
      backdrop-filter: blur(15px);
    }
    .btn{
      padding: 8px;
    }
  </style>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Blogs</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/addblog">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog elements</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add Blog</h4>
              <form class="forms-sample" method="post" action="/insertdata" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="hidden" name="editId" value="<%= single.id %>">
                  <label for="exampleInputName1">Title</label>
                  <input type="text" class="form-control" name="title" value="<%= single.title %>" id="exampleInputName1">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Description</label>
                  <textarea class="form-control" name="description" value="<%= single.description %>" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <div class="form-group">
                  <label>File upload</label> <br>
                  <input type="file" name="image">
                    <% if(single){ %>
                      <img src="<%= single.image %>" width="150">
                     <% } %>
                </div>
                <div class="form-group">
                  <% if(single){ %>
                    <button type="submit" class="btn btn-secondary">Edit Blog</button>
                    <% }else{ %>
                      <button type="submit">Add Blog</button>
                      <% } %>
                        <a type="button" class="btn btn-primary" href="/viewblog">View Blog</a>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-light mr-2">Submit</button> -->
            <!-- <button class="btn btn-dark">Cancel</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </div>
