<%- include('header') %>

	<style>
		* {
			color: white;
		}
		.content-wrapper {
			width: 100%;
			height: 100%;
			background-image: url('https://images.pexels.com/photos/9242489/pexels-photo-9242489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
		.content-wrapper::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(25, 28, 36, 0.316);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.card {
 			background-color: transparent;
			box-shadow: 0px 0px 5px 2px #b2b8c3cc;
			backdrop-filter: blur(2px);
		}
		.btn {
			padding: 8px 15px;
			font-weight: 400;
		}
		table {
			width: 100%;
			text-align: center;
		}
		table th, td {
			border: 2px solid rgba(255, 255, 255, 0.385);
 			padding: 5px 10px;
		}
	</style>

	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title">Main Category</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Add Category</li>
					</ol>
				</nav>
			</div>
			<% if(message.success.length> 0){ %>
				<div class="alert alert-success" role="alert">
					<%= message.success %>
				</div>
			<% } %>
			<div class="row">
				<div class="col-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
 							<form class="forms-sample" method="post" action="/addCategory">
								<input type="hidden" name="editid" value="<%= single.id %>">
								<div class="form-group">
									<h5 class="card-title m-b-0">Add Category</h5>
									<!-- <label for="exampleInputName1">Category</label> -->
									<input type="text" class="form-control" name="category" value="<%= single.category %>" id="exampleInputName1" placeholder="Enter Category">
								</div>
								<!-- <button type="submit" class="btn btn-light">Submit</button> -->
								<% if(single){ %>
									<input type="submit" value="Edit" class="btn btn-light"></input>
								<% } else{ %>
									<input type="submit" class="btn btn-primary"></input>
								<% } %>
 							</form>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="row justify-content-center">
				<div class="col-4 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title m-b-0">View Category</h5>
							<table>
							   <thead>
								   <tr>
									   <th>Category</th>
									   <th>Action</th>
								   </tr>
							   </thead>
							   <tbody>
								   <% categorydata.map((val)=>{
									   const{id,category}=val
								   %>
								   <tr>
									   <td><%= category %></td>
									   <td>
										   <a href="/deleteCategory?id=<%= id %>"> 
											   <i class="mdi mdi-delete"></i>
										   </a> &nbsp || &nbsp
										   <a href="/editCategory?id=<%= id %>">
											   <i class="mdi mdi-eyedropper-variant"></i>
										   </a> 
									   </td>
								   </tr>
								   <% }) %>
							   </tbody>
						   </table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('footer') %>
	</div>