<%- include('header') %>
	<!-- partial -->

	<style>
		.content-wrapper {
			width: 100%;
			height: 100%;
			/* background-image: url('https://images.pexels.com/photos/7864385/pexels-photo-7864385.jpeg?auto=compress&cs=tinysrgb&w=1600'); */
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		.content-wrapper::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(25, 28, 36, 0.316);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.card {
			background-color: transparent;
			background-color: rgba(30, 31, 38, 0.7);
			backdrop-filter: blur(15px);
		}

		.btn {
			padding: 8px;
		}
	</style>

	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-5 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<div class="card-body px-5 py-5">
								<h3 class="card-title text-left mb-3">Update Profile</h3>
								<form method="post" action="/changeprofile">
                                <input type="hidden" value="<%= locals.users.id %>" name="updateId">
									<% if(message.success.length> 0){ %>
										<div class="alert alert-success" role="alert">
											<%= message.success %>
										</div>
									<% } %>
									<% if(message.danger.length> 0){ %>
										<div class="alert alert-danger" role="alert">
											<%= message.danger %>
										</div>
									<% } %>
									<div class="form-group">
										<label>Username</label>
										<input type="text" name="name" value="<%= locals.users.name %>" class="form-control p_input">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input type="email" name="email" value="<%= locals.users.email %>" class="form-control p_input">
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" name="password" value="<%= locals.users.password %>" class="form-control p_input">
									</div>
									<div class="text-center mb-3">
										<button type="submit" class="btn btn-primary btn-block enter-btn">New Profile</button>
									</div>
 								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('footer') %>